/**
 * Victoria Kirst (vrk@stanford.edu)
 * This is a rough copy of Squarespace's Bedford layout:
 * https://bedford-demo.squarespace.com/
 *
 * http://cs193x.stanford.edu
 */

a {
  cursor: pointer;
}

a.button {
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 100px;
  transition: 0.3s all;
}

a.button:hover {
  background-color: white;
  color: black;
}

body {
  color: rgba(26, 26, 26, 0.7);
  font-family: "Lora", serif;
  margin: 0;
}

.button,
#details h1,
footer address,
header h1 strong,
#links {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#details {
  display: flex;
  justify-content: space-between;
}

#details div {
  width: calc(50% - 20px);
}

#details img {
  width: 100%;
}

#details h1 {
  color: rgb(61, 153, 145);
  font-weight: normal;
  letter-spacing: 2px;
}

footer {
  background-color: rgb(31, 31, 31);
  color: rgba(255, 255, 255, 0.8);
  padding: 75px;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, 0.4);
}

footer img {
  width: 64px;
  cursor: pointer;
  transition: all 0.3s;
}

footer img:hover {
  transform: scale(1.2);
}

/****************** Footer kısmı burada başlıyor. ***********************/

.footer-icons-text {
  font-size: 25px;
  color: #000;
  margin: 0 50px 0 0;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

/* Footer'daki iconların üstüne fare geldiğinde renk geğiştiriyor. */
.icon-container:hover {
  background-color: #4e2ecc;
  /* mor renk olarak değiştir */
}

.icon-container img {
  width: 50px;
  height: 50px;
}

.icon-container:hover img {
  filter: invert(100%);
  /* Logonun rengini ters çevir */
}

h1 a.button {
  border: 0;
  background-color: rgb(54, 179, 168);
}

h1 a.button:hover {
  background-color: rgba(54, 179, 168, 0.75);
  /* In this case, I'm using inherit to ignore the other :hover rule I set. */
  color: inherit;
}

header {
  color: white;
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

header a {
  color: white;
  text-decoration: none;
}

header h1 {
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

header h1 a {
  font-size: 15px;
}

header h1 em {
  font-size: 20px;
  letter-spacing: 1px;
}

header h1 strong {
  font-size: 68px;
  letter-spacing: 4px;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  font-size: 14px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links a {
  margin: 15px;
}

#logo {
  font-size: 40px;
}

#main p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  width: 60%;
}

#main h1 {
  font-size: 28px;
  font-weight: normal;
  color: rgba(26, 26, 26, 0.9);
}

p {
  line-height: 36px;
}

section {
  margin: 100px 125px;
  text-align: center;
}

/* ABOUT */

.about-header {
  background-image: url("images/yosemite-valley.jpg");
}

.about-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 2px 2px 14px 4px #c4c4c4;
  padding-bottom: 16px;
  border-radius: 8px;
}

.profile ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.progress-bar {
  border: 2px solid black;
  width: 200px;
  border-radius: 8px;
}

.progress-bar * {
  border-radius: 4px;
}

.progress-bar .progress-85 {
  width: 170px;
  background: rgb(255, 82, 34);
}

.progress-bar .progress-75 {
  width: 250px;
  background: rgb(255, 123, 0);
}

.progress-bar .progress-60 {
  width: 120px;
  background: rgb(255, 196, 0);
}

.progress-bar .progress-55 {
  width: 110px;
  background: rgb(217, 253, 37);
}

.contactme-header {
  background-image: url("images/joel.jpeg");
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactme-main {
  display: flex;
  justify-content: center;
}

.contactme-main img {
  width: 200px;
  transition: 0.3s all;
}

.contactme-main .translate-top:hover {
  transform: rotateY(180deg) translateY(-50px);
}

.contactme-main .translate-bottom:hover {
  transform: rotateY(180deg) translateY(50px);
}

#D3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
